.about {
	padding-left: 10rem;
	padding-right: 10rem;
}

.about__paragraph {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 29px;
	text-align: center;
	letter-spacing: 0.03em;

	padding-bottom: 2rem;

	color: #686967;
}
