.process__paragraph {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 29px;
	text-align: center;
	letter-spacing: 0.03em;

	color: #686967;
}

.process-parts {
	margin-top: 2rem;
	margin-bottom: 2rem;
	display: flex;
	justify-content: space-evenly;

	position: relative;
}

.line {
	border: 1px solid #0098d6;
	left: 10%;
	position: absolute;
	width: 80%;
	top: 5rem;
	z-index: 10;
}

.process-part {
	z-index: 100;
	width: 15%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.process__circle {
	box-sizing: content-box;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	background-color: #ffffff;
	border: 2.5rem solid #f1f2f2;
	display: flex;
	align-items: center;
	justify-content: center;
}

.process__title {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	color: #0098d6;
	margin-bottom: 1rem;
}

.process-part__p {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	font-size: 11px;
	line-height: 17px;
	text-align: center;

	color: rgba(104, 105, 103, 0.8);
}

.process-icons {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.icon-name {
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon-name img {
	height: 1rem;
}

.icon-name p {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 17px;
	text-align: center;

	color: rgba(104, 105, 103, 0.8);
}

.process-part > img {
	height: 3rem;
}

.process-part > ul {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	font-size: 11px;
	line-height: 17px;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	list-style: none;

	color: #686967cc;
}

.process-part > ul li::before {
	content: '\2022';
	color: #0098d6;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

@media only screen and (max-width: 600px) {
	.process-parts {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.process-part {
		width: 100%;
	}
	.line {
		display: none;
	}
}
