.section-white {
	display: flex;
	flex-direction: column;

	padding: 5rem;
}

.section-dark {
	display: flex;
	flex-direction: column;
	background-color: #f1f2f2;

	padding: 5rem;
}

.section-blue {
	display: flex;
	flex-direction: column;
	background-color: rgba(214, 234, 253, 0.25);

	padding: 5rem;
}

.section__title {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 42px;

	text-align: center;
	width: 100%;
	color: #0098d6;
	padding-bottom: 2rem;
}

.section-parts {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.section-part__button-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 3rem;
}

.section-part__button {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;

	color: #ffffff;
	background-color: #0098d6;

	width: 20rem;
	border: 0;
	padding: 1rem;

	border-radius: 3px;
}
