.diamond {
	padding-left: 10rem;
	padding-right: 10rem;
}

.diamond-parts {
	display: flex;
	justify-content: center;
	align-items: center;
}

.diamond-part {
	width: 50%;
}

.diamond__img-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.diamond__img-container img {
	width: 100%;
}

.diamond__h1 {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 42px;
	padding-bottom: 1rem;

	color: #0098d6;
}

.diamond__text {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 29px;
	letter-spacing: 0.03em;

	padding-right: 2rem;

	color: #686967;
}

.diamond__icons {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.diamond__icon {
	width: 20%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.icon__img-container {
	padding-bottom: 1rem;
}

.icon__img-container img {
	height: 4rem;
	width: auto;
}

.icon__text {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 15px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;

	color: #0098d6;
}

@media only screen and (max-width: 600px) {
	.diamond-parts {
		flex-direction: column;
	}

	.diamond__icon {
		width: 50%;
		padding: 1rem;
	}

	.diamond-part {
		width: 80%;
	}

	.diamond {
		padding: 2rem;
	}
}
